.menu .active{
    color: rgb(23, 163, 212);
    background-color: transparent;
    
}
.menu{
    border: 1px solid rgba(0,0,0,.125);
}
.menu li{
    border-color: transparent;
    cursor: pointer;
}
.list-group-item{
    background-color: transparent;
}
.menu[_ngcontent-uyf-c2] .active[_ngcontent-uyf-c2]{
    border-color: #696969 !important;
}