<form (ngSubmit)="onSubmit()" [formGroup]="inflowForm">
    <div class="inflow">
        <div class="form-group row">
            <label for="asincatchdate" class="col-md-3 col-form-label">Asin Catch Day</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asincatchdate" formControlName="asincatchdate">
            </div>
        </div>
        <div class="form-group row">
            <label for="inflowyw" class="col-md-3 col-form-label">Week</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inflowyw" formControlName="inflowyw">
            </div>
        </div>
        <div class="form-group row">
            <label for="inflowym" class="col-md-3 col-form-label">Month</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inflowym" formControlName="inflowym">
            </div>
        </div>        
        <div class="form-group row">
            <label for="class" class="col-md-3 col-form-label">Class</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="class" formControlName="class">
            </div>
        </div>        
        <div class="form-group row">
            <label for="workingstatus" class="col-md-3 col-form-label">Working Status</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="workingstatus" formControlName="workingstatus">
            </div>
        </div>
        <div class="form-group row">
            <label for="asicreviewpriority" class="col-md-3 col-form-label">Priority</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asicreviewpriority" formControlName="asicreviewpriority">
            </div>
        </div>
        <div class="form-group row">
            <label for="productcategory" class="col-md-3 col-form-label">Category</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="productcategory" formControlName="productcategory">
            </div>
        </div>        
        <div class="form-group row">
            <label for="policytype" class="col-md-3 col-form-label">Policy Type</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="policytype" formControlName="policytype">
            </div>
        </div>
        <div class="form-group row">
            <label for="enforcementriskscore" class="col-md-3 col-form-label">Enforcement Risk Score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="enforcementriskscore"
                    formControlName="enforcementriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="csbriskscore" class="col-md-3 col-form-label">Csb Risk Score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="csbriskscore" formControlName="csbriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="policyentityid" class="col-md-3 col-form-label">Policy Entity Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="policyentityid" formControlName="policyentityid">
            </div>
        </div>
        <div class="form-group row">
            <label for="marketplace" class="col-md-3 col-form-label">MP</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="marketplace" formControlName="marketplace">
            </div>
        </div>
        <div class="form-group row">
            <label for="node" class="col-md-3 col-form-label">Node</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="node" formControlName="node">
            </div>
        </div>
        <div class="form-group row">
            <label for="inflow" class="col-md-3 col-form-label">Inflow</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inflow" formControlName="inflow">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>